HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# application.yml 무시 (서로 다른 DB 설정용)
backend/src/main/resources/application.yaml
backend/src/main/resources/application.yml
# 빌드 디렉토리 무시
backend/target/

.env
backend/target/backend/target/
backend\python-api\github_search\__pycache__
backend/python-api/chatbot/.env
backend/python-api/github_search/.env
backend/python-api/chatbot/__pycache__/